---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile_title in page.profile_titles %}
        <div class="post-header">
          {% unless forloop.first %}<br>{% endunless %} 
          <h3 class="post-title">{{profile_title}}</h3>
        </div>
        {% assign status = forloop.index0 %}
        {% for profile in page.profiles %}
          {% if profile.status != status %}
            {% continue %}
          {% endif %}
          <hr>
          <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
            {% if profile.image %}
              {% assign profile_image_path = profile.image | prepend: 'assets/img/profile_pictures/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw"{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            {% endif %}
            <div class="basic-info" %>
              <p><b>{{profile.name}}</b></p>
              <p>{{profile.title}}</p>
              {% if profile.email %}
                <p>Email: {{profile.email}}</p>
              {% endif %}
            </div>
            {% if profile.more_info %}
              <div class="more-info">{{ profile.more_info }}</div>
            {% endif %}
          </div>

          <div class="clearfix", style="text-align: justify">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative profile_contents/{{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
  </article>
</div>
